<div class="beach">
    <div class="card" style="margin: 10px;">
        <div class="card-content">
            <div>
                <a href="/beach/{{id}}" class="title is-4">{{name}}</a>
            </div>


        </div>
    </div>
</div>