<section class="section container is-max-desktop content has-text-centered">
    <!--Login Form-->
    <form class="login-form">
        <h3>Login</h3>
        <!--Email-->
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" id="email-login" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                </span>
            </p>
        </div>
        <!--Password-->
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="password" id="password-login" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                </span>
            </p>
        </div>
        <!--Buttons-->
        <div class="field is-grouped" style="margin: auto;">
            <p class="control">
                <button class="button is-success" type="submit">
                    Login
                </button>
            <div class="control">
                <a class="button is-link is-light" href="/signup">
                    Or Signup
                </a>
            </div>
            </p>
        </div>
    </form>


</section>

<script src="/javascript/login.js"></script>